<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
</head>
<body>
<ul class="layui-nav layui-bg-red">
    <li class="layui-nav-item">
        <a id="register" href="/user/register">注册</a>
    </li>
    <li class="layui-nav-item">
        <a style="display: none" id="login" href="/user/login">前往登录</a>
    </li>
    <li class="layui-nav-item" lay-unselect="">
        <a id="user" href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img"><span th:text="${session.user==null ? '未登录':'您好,'+session.user.name}"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="/user/update">修改信息</a></dd>
            <dd><a href="/user/logout;">退出登录</a></dd>
        </dl>
    </li>

</ul>

<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });


    var url = window.location.pathname;
    console.log(url)
    if(url.match("/login")){
        document.getElementById("user").style.display="none";
        document.getElementById("register").style.display="inline";
    }else if(url.match("/home")){
        document.getElementById("user").style.display="inline";
        document.getElementById("register").style.display="none";
    }else if(url.match("/update")){
        document.getElementById("user").style.display="inline";
        document.getElementById("register").style.display="none";
    }else if(url.match("/register")){
        document.getElementById("user").style.display="none";
        document.getElementById("register").style.display="none";
        document.getElementById("login").style.display="inline";
    }
</script>
</body>
</html>